{% extends "base1.html" %}
{% load static %}
{% block title %} modifier barème crédit{% endblock %}
{% block content %}
 {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          <p>{{ message }}</p>
      </div>
      {% endfor %}
<form method="POST" class="post-form" action="/assurance/Baremecredit/update/{{Baremedecredit.id_bareme_credit}}">  
        {% csrf_token %}  
   <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3></h3>  
    </div>  
  </div>  
        

<div id="div_id_code_produit" class="form-group"> <label for="id_code_produit" class=" requiredField">
                Code produit<span class="asteriskField">*</span> </label> <div class=""> <select name="code_produit" class="select form-control" required="" id="id_code_produit"> <option value="{{Baremedecredit.code_produit.code_produit}}" selected="">{{Baremedecredit.code_produit}}</option> 

</select> </div> </div> <div id="div_id_age_min" class="form-group"> <label for="id_age_min" class=" requiredField">
                Age min<span class="asteriskField">*</span> </label> <div class=""> <input type="number" name="age_min" value="{{Baremedecredit.age_min}}" class="numberinput form-control" required="" id="id_age_min"> </div> </div> <div id="div_id_age_max" class="form-group"> <label for="id_age_max" class=" requiredField">
                Age max<span class="asteriskField">*</span> </label> <div class=""> <input type="number" name="age_max" value="{{Baremedecredit.age_max}}" class="numberinput form-control" required="" id="id_age_max"> </div> </div> <div id="div_id_taux_assureur" class="form-group"> <label for="id_taux_assureur" class=" requiredField">
                date_debut<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="date_debut" value="{{Baremedecredit.date_debut}}" maxlength="30" class="textinput textInput form-control" required="" id="id_date_debut"> </div> </div> <div id="div_id_duree" class="form-group"> <label for="id_duree" class=" requiredField">
                duree<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="duree" value="{{Baremedecredit.duree}}" maxlength="30" class="textinput textInput form-control" required="" id="id_duree"> </div> </div> <div id="div_id_Taux assureur" class="form-group"> <label for="id_Taux assureur" class=" requiredField">
                Taux assureur<span class="asteriskField">*</span> </label> <div class=""> <input type="number" name="taux_assureur" value="{{Baremedecredit.taux_assureur}}" class="numberinput form-control" required="" id="id_taux_assureur"> </div> </div> <div id="div_id_marge_banque" class="form-group"> <label for="id_marge_banque" class=" requiredField">
                Marge banque<span class="asteriskField">*</span> </label> <div class=""> <input type="number" name="marge_banque" value="{{Baremedecredit.marge_banque}}" class="numberinput form-control" required="" id="id_marge_banque"> </div> </div> <div id="div_id_etat_bareme" class="form-group"> <label for="id_etat_bareme" class=" requiredField">
               
                etat_bareme<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="etat_bareme" value="{{Baremedecredit.etat_bareme}}" maxlength="128" class="textinput textInput form-control" required="" id="id_etat_bareme"> </div> </div> 

                Produitassurancee<span class="asteriskField">*</span> </label> <div class=""> <select name="produitassurancee" class="select form-control" required="" id="id_produitassurancee"> <option value="{{Baremedecredit.produitassurancee.code_produit}}" selected="">{{Baremedecredit.produitassurancee}}</option> 
</select> </div> </div>
                
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">update</button>  
    </div>  
  </div>  

    </div>
</form> 

{% endblock %}

