{% extends "navbar.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
<div  class="container">
  <!-- Content here -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          <p>{{ message }}</p>
      </div>
      {% endfor %}
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
       
        <th> code_produit</th>  
        <th>age_min</th>  
        <th>age_max</th> 
        <th>duree_min </th> 
        <th>duree_max</th> 
        <th>taux_assureur</th>  
        <th>marge_banque</th> 
        <th> etat_bareme</th>
        <th>Actions</th>
     
    </tr>  
    </thead>  
    <tbody>  
{% for Baremedecredit in Baremedecredits %}  
    <tr>  
       
        <td>{{ Baremedecredit.code_produit }}</td>  
        <td>{{ Baremedecredit.age_min }}</td>  
        <td>{{ Baremedecredit.age_max }}</td> 
        <td>{{ Baremedecredit.duree_min }}</td> 
        <td>{{ Baremedecredit.duree_max }}</td>
        <td>{{ Baremedecredit.taux_assureur }}</td>
        <td>{{ Baremedecredit.marge_banque }}</td>
        <td>{{ Baremedecredit.etat_bareme }}</td> 

         
        <td>   
            <a href="/assurance/Baremecredit/edit/{{ Baremedecredit.id_bareme_credit }}"class="btn btn-warning waves-effect"><i class="bi bi-pencil-square"></i></a>  
            
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/assurance/Baremecredit" ><button type="button" class="btn btn-info add-new"><i class="fa fa-plus">Add New</i></button></a></center>
</div>
{% endblock %}