{% extends "base3.html" %}
{% load static %}
{% block title %} {% endblock %}
{% block content %}
<div  class="container">
  <!-- Content here -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          <p>{{ message }}</p>
      </div>
      {% endfor %}
      <div class="panel panel-default work-progress-table">
									  <!-- Default panel contents -->
									<div class="panel-heading"><h2>Liste des bénéficiaires</h2></div>
      </div>                           
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
       
        <th> id_beneficiaire</th>  
        <th>num_souscription </th>  
        <th>nom_beneficiaire</th>  
        <th>prenom_beneficiaire</th> 
        <th>relation </th>
        <th>num_document</th>
    </tr>  
    </thead>  
    <tbody>  
{% for Beneficiaire in Beneficiaires %}  
    <tr>  
       
        <td>{{ Beneficiaire.id_beneficiaire }}</td>  
        <td>{{ Beneficiaire.num_souscription }}</td>  
        <td>{{ Beneficiaire.nom_beneficiaire }}</td> 
        <td>{{ Beneficiaire.prenom_beneficiaire }}</td>  
        <td>{{ Beneficiaire.relation }}</td> 
        <td>{{ Beneficiaire.num_document }}</td> 
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/assurance/beneficiaire" class="btn btn-primary"<button type="button" class="btn btn-info add-new"><i class="fa fa-plus">Add New</i></button></a></center>
</div>
{% endblock %}