{% extends "navbar1.html" %}
{% load static %}
{% load crispy_forms_tags %} 
{% block title %} {% endblock %}
{% block content %}
 
      <div class="container">
         <div class="table-wrapper">
  <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2><b>Page modifier souscription voyage</b></h2>
					</div>
          </div>
          </div>
<form method="POST" class="post-form" action="/assurance/Souscriptionvoyage/update/{{Souscriptiondevoyage.Num_souscription_voyage}}">  
        {% csrf_token %}  
     
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3></h3>  
    </div>  
  </div>  
        


                
                <div id="div_id_Num_fiche_client" class="form-group"> <label for="id_Num_fiche_client" class=" requiredField">
                Num_fiche_client<span class="asteriskField">*</span> </label> <div class=""> <select name="Num_fiche_client" class="select form-control" required="" id="id_Num_fiche_client"> <option value="{{Souscriptiondevoyage.Num_fiche_client.Num_fiche_client}}" selected="">{{Souscriptiondevoyage.Num_fiche_client}}</option> 
</select> </div> </div> <div id="div_id_code_assureur" class="form-group"> <label for="id_code_assureur" class=" requiredField">
                Code assureur<span class="asteriskField">*</span> </label> <div class=""> <select name="code_assureur" class="select form-control" required="" id="id_code_assureur"> <option value="{{Souscriptiondevoyage.code_assureur.code_assureur}}" selected="">{{Souscriptiondevoyage.code_assureur}}</option> 
</select></div></div><div id="div_id_type_couverture" class="form-group"> <label for="id_type_couverture" class=" requiredField">
                type_couverture<span class="asteriskField">*</span> </label> <div class=""> <select name="type_couverture" class="select form-control" required="" id="id_type_couverture"> <option value="{{Souscriptiondevoyage.type_couverture}}" selected="">{{Souscriptiondevoyage.type_couverture}}</option> 
</select></div>
 </div> <div id="div_id_montant_assurance" class="form-group"> <label for="id_montant_assurance" class=" requiredField">
                montant_assurance<span class="asteriskField">*</span> </label> <div class=""> <input type="number" name="montant_assurance" value="{{Souscriptiondevoyage.montant_assurance}}" class="numberinput form-control" required="" id="id_montant_assurance"> </div> </div> <div id="div_id_duree" class="form-group"> <label for="id_duree" class=" requiredField">
                duree<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="duree" value="{{Souscriptiondevoyage.duree}}" maxlength="30" class="textinput textInput form-control"  required="" id="id_duree"> </div> </div>
                
               
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">update</button>  
    </div>  
  </div>  

    </div>
</form> 

{% endblock %}