{% extends "navbar1.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


 {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          <p>{{ message }}</p>
      </div>
      {% endfor %}
      <div class="container">          
 <div class="table-wrapper">
  <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2><b>Formulaire de souscription voyage</b></h2>
					</div>
					<div class="col-sm-6">
                   

						 <a href="/assurance/Souscriptionvoyage/show" ><button type="submit" class="btn btn-info pull-right">Consulter</button></a> 
										
					</div>
                </div>
            </div>
<form method="POST" class="post-form" action="{% url 'Souscriptionvoyageindex' %}" >  
        {% csrf_token %}  

        
    <div  onload="script();"> 
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3></h3>  
    </div>  
  </div>  
        {{ form|crispy }}

  <div id="div_id2" class="form-group">    <div class="multi-field-wrapper">
      <div class="multi-fields">
        <div class="multi-field">
          <select type="text" class="select form-control" onchange="addBenefits(event)" name="stuff[]"> {% for beneficiaire in Beneficiaires %}
           <option value="{{ beneficiaire.id_beneficiaire }}">{{ beneficiaire.nom_beneficiaire }}</option>
            {% endfor %}
          </select>
          <button type="button" class="remove-field btn btn-secondary">Remove</button>
        </div>
      </div>
      <br>
    <button type="button" class="add-field btn btn-secondary">Add field</button>
  </div>
  </div>
  
  
<div id="div_id1" class="form-group">    
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4" >  
    <center><button type="submit" class="btn btn-primary">Ajouter</button> </center> 
    </div>  
  </div>  

    </div>  
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
<script>
    $('.multi-field-wrapper').each(function() {

    var $wrapper = $('.multi-fields', this);
$('#div_id_beneficiaires').hide()
$('.multi-field-wrapper').hide()
    console.log( $wrapper)
     
    $(".add-field", $(this)).click(function(e) {
        $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find('select').val('').focus();
  
      });
    $('.multi-field .remove-field', $wrapper).click(function() {
        if ($('.multi-field', $wrapper).length > 1)
            $(this).parent('.multi-field').remove();
    });
});
</script>
<script>
function addBenefits(e){
 alert ($('#div_id_beneficiaires').text ())
  $('#div_id_beneficiaires').text ($('#div_id_beneficiaires').text () + ','+e.target.value);




}
</script>
<script>
$('#id_type_couverture').change(function(e) {
  $('#id_type_couverture option:selected').text()
 
   var value = $("#id_type_couverture option:selected");
            if (  value.text()=== "Familiale")
            $('.multi-field-wrapper').show()
             else 
             $('.multi-field-wrapper').hide()
});

</script>
<script>
$('#div_id_beneficiaires').change(function(e) {
  $('#id_type_couverture option:selected').text()
});
</script>

{% endblock %}