{% extends "base3.html" %}
{% load static %}
{% block title %} {% endblock %}
{% block content %}
<div  class="container">
  <!-- Content here -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          <p>{{ message }}</p>
      </div>
      {% endfor %}
<table class="table table-striped table-bordered col-xl-">  
    <thead class="thead-dark">  
    <tr>  
        <th>code_assureur</th>  
        <th>code_produit</th>  
        <th>type_couverture</th> 
        <th>duree</th> 
        <th>montant_assurance </th> 
        <th>date_debut</th> 
         <th>Actions</th> 
     
    </tr>  
    </thead>  
    <tbody>  
{% for Souscriptiondevoyage in Souscriptiondevoyages %}  
    <tr>  
        <td>{{ Souscriptiondevoyage.code_assureur }}</td> 
        <td>{{ Souscriptiondevoyage.code_produit }}</td> 
        <td>{{ Souscriptiondevoyage.type_couverture }}</td> 
        <td>{{ Souscriptiondevoyage.duree }}</td>
        <td>{{ Souscriptiondevoyage.montant_assurance }}</td> 
         <td>{{ Souscriptiondevoyage.date_debut }}</td>
       
        <td>   
            <a href="/assurance/Souscriptionvoyage/edit/{{ Souscriptiondevoyage.Num_souscription_voyage }}" class="btn btn-warning waves-effect"><i class="bi bi-pencil-square"></i></a> 
            <a href="/assurance/Souscriptionvoyage/delete/{{ Souscriptiondevoyage.Num_souscription_voyage }}"class="btn btn-danger " class="bi bi-trash"><i class="bi bi-trash"></i></a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/assurance/Souscriptionvoyage" ><button type="button" class="btn btn-info add-new"><i class="fa fa-plus">Add New</i></button></a></center>
</div>
{% endblock %}