{% extends "navbar.html" %}
{% load static %}
{% block title %} {% endblock %}
{% block content %}
<div  class="container">
  <!-- Content here -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          <p>{{ message }}</p>
      </div>
      {% endfor %}
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
       
        <th> Nom_assureur</th>  
        <th>Adresse</th>  
        <th>Telephone</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for Assureur in Assureurs %}  
    <tr>  
       
        <td>{{ Assureur.Nom_assureur }}</td>  
        <td>{{ Assureur.Adresse }}</td>  
        <td>{{ Assureur.Telephone }}</td> 
        <td>   
            <a href="/assurance/Assureur/edit/{{ Assureur.code_assureur }}"class="btn btn-warning waves-effect"><i class="bi bi-pencil-square"></i></a>  
              
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/assurance/Assureur" ><button type="button" class="btn btn-info add-new"><i class="fa fa-plus">Add New</i></button></a></center>
</div>
{% endblock %}