{% extends "base.html" %}
{% load static %}
{% block title %}  {% endblock %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{% comment %} login {% endcomment %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form class="col-md-9"method="post" action="{% url 'login' %}">
{% csrf_token %}
                <div class="AppForm shadow-lg">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center align-items-center">
                            <div class="AppFormLeft">

                                <h1>Login</h1>
                                <div class="form-group position-relative mb-4">
                                     <input type="text" class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none" id="username"
                                        placeholder="Username"{{ form.username }} 

                                        <i class="fa fa-user-o"></i>
                                </div>
                                <div class="form-group position-relative mb-5">
                                    <input type="password" class="form-control border-top-0 border-right-0 border-left-0 rounded-0 shadow-none" id="password"
                                        placeholder="Password"{{ form.password }} 
                               
                                        <i class="fa fa-key"></i>

                                </div>
                                

                                <input class="btn btn-danger btn-block shadow border-0 py-2 text-uppercase "  type="submit" value="login"/>
                                

                                <p class="text-center mt-5">
                                    Don't have an account?
                                    <span>
                                        Create your account
                                    </span>

                                </p>
{% for message in message %}
                    <h3>{{message}}</h3>
                    {% endfor %}
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="AppFormRight position-relative d-flex justify-content-center flex-column align-items-center text-center p-5 text-white">
                            <div class="w">
  <div class="a"><a href="https://www.uib.com.tn/images/banners-uib/NotreOffre/Clients-PLATINE/UIB--Clients-PLATINE-ESPACE-HDG-.jpg", target="_blank"></a></div></div>

                                <div class="rotate"><div><img src="{%static 'assets/img/logo.png' %}" alt="" class="img-fluid"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
<input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
 {% endblock %}