<!doctype html>
<html lang="en">
{% load static %}
  <head>
      {% block title %}
<title> </title>
{% endblock title %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'client/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'client/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'client/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/aos.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'client/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="{% url 'about' %}">UIB</a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="{% url 'client' %}" class="nav-link">Home</a></li>
                  <li><a href="services.html" class="nav-link">Services</a></li>
                  <li><a href="barber-shop.html" class="nav-link">Barber Shop</a></li>
                  <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                  <li><a href="blog.html" class="nav-link">Blog</a></li>
                  <li><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

    <div class="ftco-blocks-cover-1">
      <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url({% static 'client/images/img_9.jpg' %})">
        <div class="container">
          <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-7">
              <h1 class="mb-3">About Us</h1>
              <p>Union Internationale de Banques à votre service.</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
    <div><img class="float-right"src="{% static 'client/images/uib.jpg' %}" alt="Image" width="400" height="300" class="img-fluid"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
          
            <center><h2>Union Internationale de Banques</h2></center>



<p>Créée en 1964, l'UIB est un acteur incontournable du paysage bancaire tunisien.

Son modèle est celui d'une banque universelle, dont la vocation est d'offrir une gamme complète de services à tout type de clientèle :

Particuliers, Professionnels, PME, Grandes Entreprises, Institutionnels.


Animée d'une puissante dynamique de croissance, l'UIB ne cesse de renforcer son réseau commercial avec 144 agences présentes sur l'ensemble du territoire tunisien, assurant une bonne couverture des zones urbanisées.

Privatisée en 2002 avec le rachat d'une partie de son capital par le Groupe Société Générale, l'UIB s'appuie sur l'ensemble des compétences du groupe pour apporter les conseils et solutions les plus adaptées aux besoins de sa clientèle.


L'UIB offre à l'ensemble de sa clientèle une gamme complète de produits et de services dans les métiers d'investissement et de marchés, ceux de la gestion d'actifs et de portefeuilles, ainsi que dans les activités de recouvrement.

Pour plus d’information, vous pouvez suivre le compte twitter @societegenerale ou visiter le site www.societegenerale.com.
</p>
            </div>

          </div>
     
</div>

          </div>

          </div>
    

   
<footer class="site-footer">
     <div class="container">
        
              
                <h2 class="footer-heading mb-1">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
             
                
             
              
            </div>
          </div>
       
      </div>
    </footer>
    

     
    <script src="{% static 'client/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'client/js/jquery-migrate-3.0.0.js' %}"></script>
    <script src="{% static 'client/js/popper.min.js' %}"></script>
    <script src="{% static 'client/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'client/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'client/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'client/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'client/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'client/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'client/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'client/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'client/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'client/js/aos.js' %}"></script>

    <script src="{% static 'client/js/main.js' %}"></script>

  </body>

</html>
