{% extends 'assurance/index2.html'  %}



{% block title %}
<title> Gestion des produits d'assurance </title>
{% endblock title %}

{% block content %}

  <div class="container">
<h1>{{ welcome_text }}</h1>
<button> test</button>
<button> test</button>
  </br>
<button> test</button>
<button> test</button>

<button> test</button>
  </br>
<button> test</button>
<button> test</button>
  </br>
<button> test</button>
<button> test</button>
  </br>
</div>    
<p>First Name: {{first_name }}</p>
<p>Last Name: {{last_name }}</p>
<p>Address: {{address}}</p>


{% endblock content %}
